body{
    background-color: #212121;
}

.container{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shadow__btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    margin: 20px;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

.working{
    color: white;
}
