@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #08b0b6 10%, #040264 100%);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.25em;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #343d4b;
}

/* heading */

body>h1 {
    color: white;
    text-align: center;
    margin: 50px 0px;
    letter-spacing: 3px;
}

/* current weather container  */

.container {
    margin: 0 auto;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    height: 650px;
    width: 90%;
}

.weather-side {
    position: relative;
    height: 100%;
    border-radius: 25px;
    background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
    width: 250px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
}

.weather-side:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 25px;
    opacity: 0.8;
}

.date-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.date-dayname {
    margin: 0;
}

.date-day {
    display: block;
}

.location {
    display: inline-block;
    margin-top: 10px;
    text-transform: capitalize;
}

.location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.weather-icon.feather {
    height: 60px;
    width: auto;
}

.weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.weather-desc {
    margin: 0;
}

/* current weather cards */

.card-container {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 200px;
    height: 150px;
    margin: 10px;
    margin-top: 35px;
    background: #333C4A;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 15px;
}

.card h2 {
    z-index: 1;
    color: white;
    font-size: 1.5em;
}

.card h6 {
    z-index: 1;
    margin-left: 10px;
    color: white;
    font-size: 1em;
    font-weight: 300;
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #00f7ff, #0252ff);
    height: 160%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #333C4A;
    inset: 5px;
    border-radius: 15px;
}

/*
.card:hover:before {
    background-image: linear-gradient(180deg, #ffffff, #000000);
    animation: rotBGimg 3.5s linear infinite;
}*/

/* dropdown */

.dropdown{
    background-color: #333C4A;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 0px 10px;
}

canvas {
    width: 90% !important;
    margin: 0 auto;
    margin-top: 100px;
    height: 70% !important;
    margin-bottom: 100px;
    display: none;
}